<launch>
	<!-- Motor, sensor, and laser node -->
	<include file="$(find jaguar4x4)/launch/laser_node.launch"/>

	<!-- IMU madgwick filter node-->
	<node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_madgwick">
    	<param name="use_mag" value="false"/>
    	<param name="publish_tf" value="false"/>
    	<param name="zeta" value="1.0" />
    	<param name="gain" value="0.1" />
		<remap from="/imu/data_raw" to="/imu"/>
	</node>
</launch>