<launch>
	<!-- Launch jaguar node -->
	<node name="jaguar_node" pkg="jaguar4x4" type="jaguar4x4_Controller"/>

	<!-- Run the odometry required for publishing tf between map -> odom -> base_link -->
	<include file="$(find jaguar_odometry)/launch/ekf_wheel_IMU_localization.launch"/>

    <!-- Run the map server -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find jaguar_navigation)/map/inside.yaml"/>

    <!--- Run AMCL -->
    <include file="$(find jaguar_navigation)/launch/amcl_jaguar_wrapper.launch"/>

    <!--- Run move_base -->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find jaguar_navigation)/parameters/costmap_common_params.yaml" command="load" ns="global_costmap"/>
        <rosparam file="$(find jaguar_navigation)/parameters/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find jaguar_navigation)/parameters/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find jaguar_navigation)/parameters/global_costmap_params.yaml" command="load"/>
        <rosparam file="$(find jaguar_navigation)/parameters/base_local_planner_params.yaml" command="load"/>
        <param name="controller_frequency" type="double" value="2.0"/>
    </node>
</launch>