<launch>
	<!-- Launch EKF based odometry -->
    <include file="$(find jaguar_odometry)/launch/ekf_wheel_IMU_localization.launch"/>
    <!-- Launch robot's model in rviz -->
    <arg name="model" default="$(find jaguar_description)/urdf/model.urdf"/>
  	<arg name="rvizconfig" default="$(find jaguar_navigation)/launch/rviz_gmapping_jaguar_config.rviz"/>

  	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
  	<param name="use_gui" value="false"/>

  	<node
  		name="joint_state_publisher"
  		pkg="joint_state_publisher"
  		type="joint_state_publisher"
  	/>
  	<node
  		name="robot_state_publisher"
  		pkg="robot_state_publisher"
  		type="state_publisher"
  	/>
  	<node
  		name="rviz"
  		pkg="rviz"
  		type="rviz"
  		args="-d $(arg rvizconfig)"
  		required="true"
  	/>
    <!-- Start map creation -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping"/>
</launch>