<launch>
	<!-- Motor and sensor controllers -->
	<node pkg="jaguar4x4" type="jaguar4x4_Controller" name="motorSensorControl" />
	
	<!-- Laser node -->
    <node pkg="urg_node" name="urg_node" type="urg_node">
        <param name="frame_id" value="/laser_link"/>
        <param name="ip_address" value="192.168.0.60"/>
        <param name="ip_port" value="10002"/>
        <param name="skip" value="5"/>
        <param name="intensity" value="true" />
    </node>
</launch>